
$background: #fffffe;
$stroke: #272343;
$highlight: #ffd803;
$secondary: #e3f6f5;
$tertiary: #bae8e8;
$heading: #272343;
$paragraph: #2d334a;
$button: $highlight;
$button-text: $heading;


body {
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans HK', sans-serif;

    h1, h2, h3, h4, h5, h6 {
        color: $heading !important;
        margin-bottom: 1em;
        margin-top: 0;
    }
    
    p, label, span {
		color: $paragraph !important;
		font-size: 14px;

		&.-smaller { 
			font-size: 80%;
		}
    }
    
    a {
        color: $secondary !important;
    }

    .-colour-tertiary {
        color: $tertiary !important;
    }

    #root {
        width: 100vw; min-height: 100vh;
        background-color: $background;
		margin: 0; padding: 0;
		display: flex; flex-direction: column; 

        .body {
			margin: 0 8em; padding: 2em;
			display: flex; flex-direction: column; 
			flex-grow: 1;

			.header {
				margin-top: 1.5em; margin-bottom: 1.5em;

				img {
					width: 85%;
				}
			}

            .main {
				display: flex; flex-direction: column;
				justify-content: center; flex-grow: 1;
				max-width: 340px;

				.timer {
					padding-bottom: 4em;

					.time {
						text-align: center;
						font-size: 700%;
						color: $highlight;
					}

					.controls {
						width: 75%; margin: 0 auto;
						margin-top: 2em;
						display: flex; flex-direction: row;
						justify-content: space-between;

						button {
							text-align: center;
							border-radius: 8px; border: none;
							height: 3em; width: 6em;
							background: $secondary;
						}
					}
				}
            }
        }
    }
}

@media screen and ( max-width: 1100px ) {
    .body {
        margin: 0 1em !important;
        
        .inputs-box-row {
            justify-content: space-between;
		}
	}
}

@media screen and ( max-width: 600px ) {
    .body {
        margin: 0 !important;

        .inputs-box-row {
            > div {
				justify-content: start;
				
				svg {
					margin-left: 0 !important;
					margin-right: 3em;
				}
            }
        }
    }
}
